html, body {
    margin: 0;
    padding: 0;
    background-color: #001f3e;
    font-size: 7px;
    user-select: none;
}

#loader {
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
}

main {
    z-index: 2;
    position: relative;
    background-color: white;
    padding-top: min(25vw, 4cm, 30vh);
    padding-bottom: min(10vh, 10vw);
    box-shadow: 0 3px 5px grey inset;
    overflow: hidden;
}

main > img {
    position: fixed;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 700px;
    z-index: -1;
    opacity: 0.33;
    filter: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2)) drop-shadow(0 6px 20px rgba(0, 0, 0, 0.19));
}

h3, h1, h5 {
    font-family: "Michroma", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0 5% 0.5cm 5%;
}

.title {
    font-family: "Michroma", sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.container {
    width: 75%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
}

nav {
    width: 100%;
    height: min(15vw, 2.5cm, 25vh);
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 3;
    opacity: 1;
    background-color: #001f3e;
    padding-left: auto;
    padding-right: auto;
    text-align: center;

    /*transition: opacity 0.5s;*/
}

nav > * {
    display: inline;
    margin-left: 15px;
}

nav > a {
    color: white;
    font-family: "Michroma", sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    vertical-align: bottom;
}

nav > a:hover {
    text-decoration: underline;
}

img#logo {
    height: 60%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

h3, h1, h5 {
    font-family: "Michroma", sans-serif;
    font-weight: bold;
    margin: 0;
}

.text {
    font-size: 2rem;
    font-family: "Cinzel", serif;
    text-align: center;
    margin: 0;
}

.sensational {
    font-size: 2rem;
    font-family: "Cinzel", serif;
    text-align: center;
    font-style: italic;
    margin-bottom: min(10vh, 10vw);
}

iframe {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    height: 70vw;
    max-width: 500px;
    max-height: 500px;
    margin-top: min(5vh, 5vw);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-repeat: no-repeat;
    background-size: 1em 1em;
    background-position: left center;
    padding-left: 1.6em;
    line-height: 1.6;
}

li.telephone {
    background-image: url(../images/icons/telephone.svg);
}

li.email {
    background-image: url(../images/icons/mail.svg);
}

li.instagram {
    background-image: url(../images/icons/instagram.svg);
}

li.facebook {
    background-image: url(../images/icons/facebook.svg);
}

li.location {
    background-image: url(../images/icons/location.svg);
}

ul a, ul a:visited {
    color: black;
}

ul {
    margin-left: 5%;
}

p.title {
    margin-bottom: 0;
}

#group-list {
    margin: min(5vw, 5vh) 0 min(5vw, 5vh) 0;
}

#group-list li {
    margin: 0;
}

.anchor {
    display: block;
    position: relative;
    height: min(15vw, 2.5cm, 25vh);
    visibility: hidden;
}

footer {
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: fit-content;
    z-index: 2;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer > p {
    color: white;
    font-family: "Michroma", sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

@media only screen and (min-width: 900px){

    h1 {
        font-size: 6.5rem;
    }

    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 4rem;
    }

    h5 {
        font-size: 2.5rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .text {
        font-size: 3.5rem;
    }

    .container {
        max-width: 800px;
    }

    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 900px){


    h1 {
        font-size: 6rem;
    }

    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 4rem;
    }

    h5 {
        font-size: 2.5rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .text {
        font-size: 3.5rem;
        text-align: center;
    }

    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 800px){
    html, body {
        font-size: 7px;
    }

    h1 {font-size: 4.5rem;}
    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 3rem;
    }
    h5 {
        font-size: 2.25rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .text {
        font-size: 3.5rem;
        text-align: center;
    }

    #group-list ul {
        font-size: 2.5rem;
    }

    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 600px){

    html, body {
        font-size: 5.5px;
    }

    h1 {font-size: 4.5rem;}
    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 3rem;
    }
    h5 {
        font-size: 2.25rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .text {
        font-size: 3rem;
        text-align: center;
    }

    ul a, ul a:visited {
        color: black;
        font-size: 3rem;
    }

    

    #group-list ul {
        font-size: 2.5rem;
    }

    .container {
        width: 80%;
    }

    iframe {
        width: 70vw;
        height: 70vw;
    }

    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 400px) {
    html, body {
        font-size: 4px;
    }

    h1 {font-size: 4.5rem; }

    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 3rem;
    }

    h5 {
        font-size: 2.25rem;
        margin-bottom: 5vh;
    }

    .text {
        text-align: center;
        font-size: 3rem;}

    .sensational {
        font-size: 3rem;
        line-height: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .container {
        width: 90%;
    }

    ul a, ul a:visited {
        color: black;
        font-size: 3rem;
    }

    #groups li {
        font-size: 2.5rem;
    }

    iframe {
        width: 80vw;
        height: 80vw;
    }

    a {font-size: 1rem;}

    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 300px){

    html, body {
        font-size: 3px;
    }

    h1 {font-size: 4.5rem;}
    h3 {font-size: 3rem;}
    h5 {font-size: 2.25rem;}

    .container {width: 90%;}
    .text {
        font-size: 3rem;
    }

    ul a, ul a:visited {
        color: black;
        font-size: 3rem;
    }

    iframe {
        width: 80vw;
        height: 80vw;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}