html, body {
    margin: 0;
    padding: 0;
    background-color: #001f3e;
    font-size: 8px;
    user-select: none;
}

.none {
    margin-bottom: 15px;
    display: none;
}

#loader {
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
}

#landing-container {
    position: fixed;
    width: 100%;
    max-height: max(540px, 50vh);
    top: 0; 
    left: 0;
    overflow: hidden;
    align-items: middle;
    display: flex;
}

img#landing {
    z-index: -1;
    display: block;
    position: relative;
    width: 100%;
    user-select: none;
    object-fit: cover;
    margin: 0;
}

#language-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end; /* allinea TUTTI a destra */
    margin-bottom: 30px;
}

.language {
    padding: 2px 10px 2px 10px;
    border: none;
    margin-right: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;
}

.language:first-child {
    font-size: 1rem;
    font-weight: bold;
    font-family: "Michroma", sans-serif;
}

.language:last-child {
    font-family: "Ysabeau Infant", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.flag {
    height: 0.75rem;
    border-radius: 50%;
}

.language, .language:visited, .language:hover {
    color: black;
    text-decoration: none;
}

main {
    z-index: 2;
    position: relative;
    background-color: white;
    padding: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    box-shadow: 0 3px 5px grey inset;
}

.container {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
}

nav {
    width: 100%;
    height: min(15vw, 2.5cm, 25vh);
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 3;
    opacity: 1;
    background-color: transparent;
    padding-left: auto;
    padding-right: auto;
    text-align: center;

    /*transition: opacity 0.5s;*/
}

nav > * {
    display: inline;
    margin-left: 15px;
}

nav > a {
    color: white;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    vertical-align: bottom;
}

nav > a:hover {
    text-decoration: underline;
}

img#logo {
    height: 60%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

h3, h1, h5 {
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    margin: 0;
}

.text {
    font-size: 2rem;
    font-family: "Cormorant Garamond", serif;
    text-align: center;
    text-align: justify;
    text-justify:newspaper;
    margin-top: min(10vh, 10vw);
    margin-bottom: min(5vh, 5vw);
}

.sensational {
    font-size: 2rem;
    font-family: "Cormorant Garamond", serif;
    text-align: center;
    font-style: italic;
    margin-bottom: min(10vh, 10vw);
}

.image-frame {
    width: 100%;
    height: 66vw;
    max-height: 600px;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 5vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 2000px;
}

#learn-more {
    font-size: 3rem;
    font-family: "Exo 2", sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 5vh;
    
}

#learn-more:hover {
    text-decoration: underline;
}

footer {
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: fit-content;
    z-index: 2;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer > div {
    display: block;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

footer a {
    margin-left: 15px;
    color: white;
    font-family: "Exo 2", sans-serif;
    font-weight: bold;
    display: inline;
    text-decoration: none;
    font-size: 2rem;
}

footer a:hover {
    text-decoration: underline;
}

footer > p {
    color: white;
    font-family: "Exo 2", sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.reveal {
  opacity: 0;
  transition: opacity 1s ease;
}

.reveal.visible {
  opacity: 1;
}

.image-frame {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.image-frame .track {
    display: flex;
    position: relative;
    transition: transform 1s ease;
    will-change: transform;
    height: 100%;
}

.image-frame .track img {
    display: block;
    width: 100%;
    flex: 0 0 100%;
    height: 100%;
    object-fit: cover;
    object-position: cover;
}

.image-frame .nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    color: #fff;
    font-size: 24px;
    line-height: 1;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 10;
}

.nav:hover {
    border: none;
}

.image-frame .prev { left: 10px; }
.image-frame .next { right: 10px; }

.image-frame .nav:focus {
    outline: 2px solid rgba(255,255,255,0.8);
}

@media only screen and (min-width: 900px){

    h1 {
        font-size: 10rem;
    }

    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 5.5rem;
    }

    h5 {
        font-size: 3.5rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 5rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .text {
        font-size: 5rem;
        text-align: justify;
    }

    .container {
        max-width: 800px;
    }

    nav > a {
        font-size: 5rem;
        margin: 1.5rem;
    }

    a#learn-more {
        font-size: 6rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 3rem;}
}

@media only screen and (max-width: 900px){


    h1 {
        font-size: 10rem;
    }

    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 5.5rem;
    }

    h5 {
        font-size: 4rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 5rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .text {
        font-size: 5rem;
        text-align: justify;
    }

    nav > a {
        font-size: 5rem;
        margin: 1.5rem;
    }

    a#learn-more {
        font-size: 5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 3rem;}
}

@media only screen and (max-width: 800px){
  

    h1 {font-size: 6rem;}
    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 3.5rem;
    }
    h5 {
        font-size: 2.75rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 3.5rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .text {
        font-size: 3.5rem;
        text-align: center;
    }

    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    a#learn-more {
        font-size: 3.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 2rem;}
}

@media only screen and (max-width: 600px){


    h1 {font-size: 5rem;}
    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 3rem;
    }
    h5 {
        font-size: 2.25rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .text {
        font-size: 3rem;
        text-align: center;
    }


    nav > a {
        font-size: 2rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 400px) {
   
    h1 {font-size: 4rem; }

    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 2.5rem;
    }

    h5 {
        font-size: 2rem;
        margin-bottom: 5vh;
    }

    

    .text {
        text-align: center;
        font-size: 2.5rem;}

    .sensational {
        font-size: 2.25rem;
        line-height: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    a {font-size: 1rem;}

    nav > a {
        font-size: 1.5rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 300px){


    h1 {font-size: 3.5rem;}
    h3 {font-size: 2rem;}
    h5 {font-size: 1.75rem;}

    .container {width: 90%;}
    .text {
        font-size: 2rem;
    }

    .sensational {
        font-size: 2rem;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    nav > a {
        font-size: 1.25rem;
        margin: 1.5rem;
    }

    a#learn-more {
        font-size: 2.5rem;
    }

    footer a {font-size: 1rem;}
    footer p {font-size: 1.5rem;}
}