ul, li.text {
    padding-left: 0;
}

#info-link, #info-link:visited, #info-link:hover {
    color: black;
    text-decoration: underline;
    font-size: 100%;
    font-family: "Cinzel", serif;
    text-align: justify;
}

img.plakat {
    width: 90%;
    max-width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 5vh 0 5vh 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}