html, body {
    margin: 0;
    padding: 0;
    background-color: #001f3e;
    font-size: 8px;
    user-select: none;
}

#loader {
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
}

main {
    z-index: 2;
    position: relative;
    background-color: white;
    padding-top: min(25vw, 4cm, 30vh);
    padding-bottom: min(5vw, 1cm, 5vh);
    box-shadow: 0 3px 5px grey inset;
}

h3, h1, h5 {
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 0;
}

.container {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
}

.title {
    font-family: "Exo 2", sans-serif;
    font-size: 5rem;
    font-weight: 500;
    margin: 0;
    margin-top: min(1cm, 20px);
}

nav {
    width: 100%;
    height: min(15vw, 2.5cm, 25vh);
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 3;
    opacity: 1;
    background-color: #001f3e;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

nav > * {
    display: inline;
    margin-left: 15px;
}

nav > a {
    color: white;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    vertical-align: bottom;
}

nav > a:hover {
    text-decoration: underline;
}

img#logo {
    height: 60%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

h3, h1, h5 {
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    margin: 0;
}

.text {
    font-size: 2rem;
    font-family: "Cormorant Garamond", serif;
    text-align: justify;
    text-justify:newspaper;
    margin-top: min(10vh, 10vw);
    margin-bottom: min(5vh, 5vw);
}

ul, li.text {
    padding-left: 0;
}

#info-link, #info-link:visited, #info-link:hover {
    color: black;
    text-decoration: underline;
    font-size: 100%;
    font-family: "Cormorant Garamond", serif;
    text-align: justify;
}

.sensational {
    font-size: 2rem;
    font-family: "Cormorant Garamond", serif;
    text-align: center;
    font-style: italic;
    margin-bottom: min(10vh, 10vw);
}

img.plakat {
    width: 90%;
    max-width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 5vh 0 5vh 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: fit-content;
    z-index: 2;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer > p {
    color: white;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

@media only screen and (min-width: 900px){

    h1 {
        font-size: 10rem;
    }

    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 5.5rem;
    }

    h5 {
        font-size: 3.5rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 5rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .container {width: 80%;}

    ul, li {
        padding: 0;
        margin: 0;
        padding-inline-start: 0;
    }

    li p {
        margin: 0;
        margin-bottom: 10px;
    }
    p.title {
        font-size: 8rem;
    }
    .text, a, li p, .title {
        font-size: 5rem;
    }

    .container {
        max-width: 800px;
    }

    nav > a {
        font-size: 5rem;
        margin: 1.5rem;
    }

    a#learn-more {
        font-size: 6rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 3rem;}
}

@media only screen and (max-width: 900px){


    h1 {
        font-size: 9rem;
    }

    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 5.5rem;
    }

    h5 {
        font-size: 4rem;
        margin-bottom: 5vh;
    }

    

    .sensational {
        font-size: 5rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .container {width: 80%;}

    ul, li {
        padding: 0;
        margin: 0;
        padding-inline-start: 0;
    }

    li p {
        margin: 0;
        margin-bottom: 10px;
    }
    p.title {
        font-size: 7rem;
    }
    .text, a, li p, .title {
        font-size: 4.5rem;
    }

    nav > a {
        font-size: 5rem;
        margin: 1.5rem;
    }

    a#learn-more {
        font-size: 5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 3rem;}
}

@media only screen and (max-width: 800px){
  

    h1 {font-size: 6rem;}
    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 3.5rem;
    }
    h5 {
        font-size: 2.75rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 3.5rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .container {width: 80%;}

    ul, li {
        padding: 0;
        margin: 0;
        padding-inline-start: 0;
    }

    li p {
        margin: 0;
        margin-bottom: 10px;
    }
    p.title {
        font-size: 5rem;
    }
    .text, a, li p, .title {
        font-size: 3.5rem;
    }


    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    a#learn-more {
        font-size: 3.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 2rem;}
}

@media only screen and (max-width: 600px){


    h1 {font-size: 5rem;}
    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 3rem;
    }
    h5 {
        font-size: 2.25rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .container {width: 80%;}

    ul, li {
        padding: 0;
        margin: 0;
        padding-inline-start: 0;
    }

    li p {
        margin: 0;
        margin-bottom: 10px;
    }
    .text, a, li p, .title {
        font-size: 2.5rem;
    }
    .title {
        font-size: 2.5rem;
    }


    nav > a {
        font-size: 2rem;
        margin: 1.25rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 400px) {
   
    h1 {font-size: 4rem; }

    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 2.5rem;
    }

    h5 {
        font-size: 2rem;
        margin-bottom: 5vh;
    }

    .container {width: 80%;}

    ul, li {
        padding: 0;
        margin: 0;
        padding-inline-start: 0;
    }

    li p {
        margin: 0;
        margin-bottom: 10px;
    }
    .text, a, li p, .title {
        font-size: 3rem;
    }

    .sensational {
        font-size: 2.25rem;
        line-height: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    nav > a {
        font-size: 1.5rem;
        margin: 1rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 300px){


    h1 {font-size: 3.5rem;}
    h3 {font-size: 2rem;}
    h5 {font-size: 1.75rem;}


    .container {width: 80%;}

    ul, li {
        padding: 0;
        margin: 0;
        padding-inline-start: 0;
    }

    li p {
        margin: 0;
        margin-bottom: 10px;
    }
    .text, a, li p, .title {
        font-size: 1.5rem;
    }

    .sensational {
        font-size: 2rem;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    nav > a {
        font-size: 1rem;
        margin: 1rem;
    }

    a#learn-more {
        font-size: 2.5rem;
    }

    footer a {font-size: 1rem;}
    footer p {font-size: 1.5rem;}
}