
iframe {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    height: 70vw;
    max-width: 500px;
    max-height: 500px;
    margin-top: min(5vh, 5vw);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-repeat: no-repeat;
    background-size: 1em 1em;
    background-position: left center;
    padding-left: 1.6em;
    line-height: 1.6;
}

li.telephone {
    background-image: url(../images/icons/telephone.svg);
}

li.email {
    background-image: url(../images/icons/mail.svg);
}

li.instagram {
    background-image: url(../images/icons/instagram.svg);
}

li.facebook {
    background-image: url(../images/icons/facebook.svg);
}

li.location {
    background-image: url(../images/icons/location.svg);
}

ul a, ul a:visited {
    color: black;
}

ul {
    margin-left: 5%;
}

p.title {
    margin-bottom: 0;
}

li.text {
    padding: 0;
    margin: 0;
}

#group-list {
    margin: min(5vw, 5vh) 0 min(5vw, 5vh) 0;
}

#group-list li {
    margin: 0;
}

.anchor {
    display: block;
    position: relative;
    height: min(15vw, 2.5cm, 25vh);
    visibility: hidden;
}