html, body {
    margin: 0;
    padding: 0;
    background-color: #001f3e;
    font-size: 7px;
    user-select: none;
}

#loader {
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
}

main {
    z-index: 2;
    position: relative;
    background-color: white;
    padding-top: 4cm;
    padding-bottom: 10vh;
    box-shadow: 0 3px 5px grey inset;
}

h3, h1, h5 {
    font-family: "Michroma", sans-serif;
    font-weight: bold;
    margin: 0;
}

.container {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
}

nav {
    width: 100%;
    height: min(15vw, 2.5cm);
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 3;
    opacity: 1;
    background-color: #001f3e;
    padding-left: auto;
    padding-right: auto;
    text-align: center;

    /*transition: opacity 0.5s;*/
}

nav > * {
    display: inline;
    margin-left: 15px;
}

nav > a {
    color: white;
    font-family: "Michroma", sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    vertical-align: bottom;
}

nav > a:hover {
    text-decoration: underline;
}

img#logo {
    height: 60%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

h3, h1, h5 {
    font-family: "Michroma", sans-serif;
    font-weight: bold;
    margin: 0;
}

.title {
    font-family: "Michroma", sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.text {
    font-size: 2rem;
    font-family: "Cinzel", serif;
    text-align: center;
    text-align: justify;
    text-justify:newspaper;
    margin-top: min(10vh, 10vw);
    margin-bottom: min(5vh, 5vw);
}

.sensational {
    font-size: 2rem;
    font-family: "Cinzel", serif;
    text-align: center;
    font-style: italic;
    margin-bottom: min(10vh, 10vw);
}


.gallery-flex {
    display: none;
    box-sizing: border-box;

    margin: 0.5cm 0 2cm 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    height: 40vh;
    max-height: 250px;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.gallery-flex > div {
    flex: 0 0 auto;
    height: 100%;
    width: auto;
}

.gallery-flex img {
    display: block;
    height: 100%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 6px;
}

footer {
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: fit-content;
    z-index: 2;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer > p {
    color: white;
    font-family: "Michroma", sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

@media only screen and (min-width: 900px){

    h1 {
        font-size: 6.5rem;
    }

    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 4rem;
    }

    h5 {
        font-size: 2.5rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .text {
        font-size: 3.5rem;
        text-align: justify;
    }

    .container {
        max-width: 800px;
    }

    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 900px){


    h1 {
        font-size: 6rem;
    }

    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 4rem;
    }

    h5 {
        font-size: 2.5rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .text {
        font-size: 3.5rem;
        text-align: justify;
    }

    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 800px){
    html, body {
        font-size: 7px;
    }

    h1 {font-size: 4.5rem;}
    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 3rem;
    }
    h5 {
        font-size: 2.25rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .text {
        font-size: 3.5rem;
        text-align: center;
    }

    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 600px){

    html, body {
        font-size: 5.5px;
    }

    h1 {font-size: 4.5rem;}
    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 3rem;
    }
    h5 {
        font-size: 2.25rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .text {
        font-size: 3.5rem;
        text-align: center;
    }


    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 400px) {
    html, body {
        font-size: 4px;
    }

    h1 {font-size: 4.5rem; }

    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 3rem;
    }

    h5 {
        font-size: 2.25rem;
        margin-bottom: 5vh;
    }

    .text {
        text-align: center;
        font-size: 3.5rem;}

    .sensational {
        font-size: 3rem;
        line-height: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    a {font-size: 1rem;}

    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 300px){

    html, body {
        font-size: 3px;
    }

    h1 {font-size: 4.5rem;}
    h3 {font-size: 3rem;}
    h5 {font-size: 2.25rem;}

    .container {width: 90%;}
    .text {
        font-size: 3.5rem;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}