html, body {
    margin: 0;
    padding: 0;
    background-color: #001f3e;
    font-size: 7px;
    user-select: none;
}

#loader {
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
}

main {
    z-index: 2;
    position: relative;
    background-color: white;
    padding-top: min(20vw, 3cm, 30vh);
    padding-bottom: 10vh;
    min-height: 100vh;
    box-shadow: 0 3px 5px grey inset;
}

h3, h1, h5 {
    font-family: "Michroma", sans-serif;
    font-weight: bold;
    margin: 0;
}

.container {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
}

nav {
    width: 100%;
    height: min(15vw, 2.5cm, 25vh);
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 3;
    opacity: 1;
    background-color: #001f3e;
    padding-left: auto;
    padding-right: auto;
    text-align: center;

    /*transition: opacity 0.5s;*/
}

nav > * {
    display: inline;
    margin-left: 15px;
}

nav > a {
    color: white;
    font-family: "Michroma", sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    vertical-align: bottom;
}

nav > a:hover {
    text-decoration: underline;
}

img#logo {
    height: 60%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}


div#image-displayer {
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.55);
    position: fixed;
    z-index: 20;
    display: none;
}

div#image-frame {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90vh;
}

div#image-frame img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav {
    color: white;
    width: fit-content;
    vertical-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 10px;

    font-size: 2rem;
}

div#prev {
    left: 0;
}

div#next {
    right: 0;
}

#image-frame .nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 10;
}

.nav:hover {
    border: none;
}

#image-frame .prev { left: 10px; }
#image-frame .next { right: 10px; }

#image-frame .nav:focus {
    outline: 2px solid rgba(255,255,255,0.8);
}

div#quit {
    color: white;
    top: min(5%, 20px);
    right: min(5%, 20px);
    position: absolute;
    font-size: 30px;
}

img#image {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3, h1, h5 {
    font-family: "Michroma", sans-serif;
    font-weight: bold;
    margin: 0;
}

.title {
    font-family: "Michroma", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    margin-top: min(1cm, 20px);
    padding: 0 5% 0 5%;
}

.text {
    font-size: 3rem;
    font-family: "Cinzel", serif;
    text-align: center;
    text-justify: center;
    margin-top: 0;
    margin-bottom: 0;
}

.text a {
    color: black;
}

.text a:visited {
    color: black;
}

.sensational {
    font-size: 2rem;
    font-family: "Cinzel", serif;
    text-align: center;
    font-style: italic;
    margin-bottom: min(10vh, 10vw);
}


.gallery-flex {
    display: none;
    box-sizing: border-box;

    margin: 0.25cm 0 0.5cm 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    height: 40vh;
    max-height: 250px;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.hidden {
    display: none;
}

.gallery-flex > div {
    flex: 0 0 auto;
    height: 100%;
    width: auto;
    margin: 0;
    filter: drop-shadow(3px 3px 3px #808080);
}

.gallery-flex img {
    display: block;
    height: 100%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 6px;
}

.load-more, .load-less {
    text-decoration: none;
    margin-bottom: min(1cm, 20px);
}

.load-more:hover, .load-less:hover {
    text-decoration: underline;
}

footer {
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: fit-content;
    z-index: 2;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer > p {
    color: white;
    font-family: "Michroma", sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

@media only screen and (min-width: 900px){

    h1 {
        font-size: 6.5rem;
    }

    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 4rem;
    }

    h5 {
        font-size: 2.5rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .container {
        max-width: 800px;
    }

    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 900px){


    h1 {
        font-size: 6rem;
    }

    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 4rem;
    }

    h5 {
        font-size: 2.5rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .text {
        font-size: 3.5rem;
    }

    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 800px){
    html, body {
        font-size: 7px;
    }

    h1 {font-size: 4.5rem;}
    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 3rem;
    }
    h5 {
        font-size: 2.25rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .text {
        font-size: 3.5rem;
    }

    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 600px){

    html, body {
        font-size: 5.5px;
    }

    h1 {font-size: 4.5rem;}
    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 3rem;
    }
    h5 {
        font-size: 2.25rem;
        margin-bottom: 5vh;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .text {
        font-size: 3.5rem;
    }


    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 400px) {
    html, body {
        font-size: 4px;
    }

    h1 {font-size: 4.5rem; }

    h3 {
        margin-top: min(5vh, 5vw);
        font-size: 3rem;
    }

    h5 {
        font-size: 2.25rem;
        margin-bottom: 5vh;
    }

    .text, .text a {
        font-size: 3.5rem;}

    .sensational {
        font-size: 3rem;
        line-height: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    a {font-size: 1rem;}

    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 300px){

    html, body {
        font-size: 3px;
    }

    h1 {font-size: 4.5rem;}
    h3 {font-size: 3rem;}
    h5 {font-size: 2.25rem;}

    .container {width: 90%;}
    .text, .text a {
        font-size: 3.5rem;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    nav > a {
        font-size: 3rem;
        margin: 1.5rem;
    }

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}