html, body {
    margin: 0;
    padding: 0;
    background-color: #001f3e;
    font-size: 7px;
    user-select: none;
}

#loader {
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
}

main {
    z-index: 2;
    position: relative;
    background-color: white;
    padding-top: min(25vw, 4cm, 30vh);
    padding-bottom: min(10vw, 2cm, 15vh);
    box-shadow: 0 3px 5px grey inset;
}

h3, h1, h5 {
    font-family: "Michroma", sans-serif;
    font-weight: bold;
    margin: 0;
}

.container {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
}

.image-frame {
    width: 100%;
    height: 66vw;
    max-height: 600px;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 5vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 2000px;
}

.image-frame {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.image-frame .track {
    display: flex;
    position: relative;
    transition: transform 1s ease;
    will-change: transform;
    height: 100%;
}

.image-frame .track img {
    display: block;
    width: 100%;
    flex: 0 0 100%;
    height: 100%;
    object-fit: cover;
    object-position: cover;
}

nav {
    width: 100%;
    height: min(15vw, 2.5cm, 25vh);
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 3;
    opacity: 1;
    background-color: #001f3e;
    padding-left: auto;
    padding-right: auto;
    text-align: center;

    /*transition: opacity 0.5s;*/
}

nav > * {
    display: inline;
    margin-left: 15px;
}

nav > a {
    color: white;
    font-family: "Michroma", sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    vertical-align: bottom;
}

nav > a:hover {
    text-decoration: underline;
}

img#logo {
    height: 60%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

h3, h1, h5 {
    font-family: "Michroma", sans-serif;
    font-weight: bold;
    margin: 0;
}

.text {
    font-size: 2rem;
    font-family: "Cinzel", serif;
    text-align: center;
    text-align: justify;
    text-justify:newspaper;
    margin-top: min(10vh, 10vw);
    margin-bottom: min(5vh, 5vw);
}

.sensational {
    font-size: 2rem;
    font-family: "Cinzel", serif;
    text-align: center;
    font-style: italic;
    margin-bottom: min(10vh, 10vw);
}

footer {
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: fit-content;
    z-index: 2;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer > p {
    color: white;
    font-family: "Michroma", sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

@media only screen and (min-width: 900px){

    h1 {font-size: 8rem;}
    h3 {font-size: 5rem;}
    h5 {font-size: 4rem;}

    .container {width: 80%;}
    .text, a#learn-more {
        font-size: 3.5rem;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 2.5%;
        padding-right: 2.5%;
        line-height: normal;
    }

    nav > a {
        font-size: 4rem;
        margin: 1.5rem;
    }

    

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 900px){

    html, body {
        font-size: 8px;
    }


    h1 {font-size: 8rem;}
    h3 {font-size: 5rem;}
    h5 {font-size: 4rem;}

    .container {width: 80%;}
    .text, a#learn-more {
        font-size: 3.5rem;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 2.5%;
        padding-right: 2.5%;
        line-height: normal;
    }

    nav > a {
        font-size: 4rem;
        margin: 1.5rem;
    }

    

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 800px){
    html, body {
        font-size: 7px;
    }

    h1 {font-size: 8rem;}
    h3 {font-size: 5rem;}
    h5 {font-size: 4rem;}

    .container {width: 80%;}
    .text, a#learn-more {
        font-size: 3.5rem;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 2.5%;
        padding-right: 2.5%;
        line-height: normal;
    }

    nav > a {
        font-size: 4rem;
        margin: 1.5rem;
    }

    

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 600px){

    html, body {
        font-size: 6px;
    }

    h1 {font-size: 8rem;}
    h3 {font-size: 5rem;}
    h5 {font-size: 4rem;}

    .container {width: 90%;}
    .text, a#learn-more {
        font-size: 3.5rem;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 2.5%;
        padding-right: 2.5%;
        line-height: normal;
    }

    nav > a {
        font-size: 4rem;
        margin: 1.5rem;
    }

    

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 450px) {
    html, body {
        font-size: 4px;
    }

    h1 {font-size: 8rem;}
    h3 {font-size: 5rem;}
    h5 {font-size: 4rem;}

    .container {width: 90%;}
    .text, a#learn-more {
        font-size: 3.5rem;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 2.5%;
        padding-right: 2.5%;
        line-height: normal;
    }

    nav > a {
        font-size: 4rem;
        margin: 1.5rem;
    }

    

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}

@media only screen and (max-width: 300px){


    h1 {font-size: 8rem;}
    h3 {font-size: 5rem;}
    h5 {font-size: 4rem;}

    .container {width: 90%;}
    .text, a#learn-more {
        font-size: 3.5rem;
    }

    .sensational {
        font-size: 3rem;
        padding-left: 2.5%;
        padding-right: 2.5%;
        line-height: normal;
    }

    nav > a {
        font-size: 4rem;
        margin: 1.5rem;
    }

    

    footer a {font-size: 3rem;}
    footer p {font-size: 1.5rem;}
}