.image-frame {
    width: 100%;
    height: 66vw;
    max-height: 600px;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 5vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 2000px;
}

.image-frame {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.image-frame .track {
    display: flex;
    position: relative;
    transition: transform 1s ease;
    will-change: transform;
    height: 100%;
}

.image-frame .track img {
    display: block;
    width: 100%;
    flex: 0 0 100%;
    height: 100%;
    object-fit: cover;
    object-position: cover;
}